body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #211b21

}

button {
  cursor: pointer;
}

@tailwind base;
@tailwind components;
@tailwind utilities;






